body{
  font-family: arial, sans-serif;
  margin: 0;
  background-color: #FFFFFF;
}
.tag{
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
}
.description,
.compound {
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.h{
  font-size:20px;
  font-weight: 700;
  line-height: 27px;
  color: #515076;
  margin: 5;
}
.for_skin{
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9
}
.product_list{
  list-style: none;
  padding: 0;
  margin: 0;
}
