* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-image: url("images/bg_1.png")
}
.product-title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 20px;
  text-align: center;
  color: #515076;
}
.card__description,
.card__compound {
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.card__title {
  font-size:20px;
  font-weight: 700;
  line-height: 27px;
  color: #515076;
  margin: 5;
}
.card__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  display: inline-block;
  margin-top: 30px;
}
.product-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 45px;
  column-gap: 45px;
  max-width: 1110px;
  justify-content: center;
}
.component {
  margin-top: 10px;

}
.component__list {
  margin-bottom: 5px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.card {
  background:#F7F7FA;
  width: 340px;
  padding:25px;
  transition: all 0.3s ease-in-out;
}
.card:hover{
  transform: translateY(-8px);
}

.buy-button{
  transition: 0.3s;
  display: block;
  margin: 0 auto;
  padding-top:  6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  color: #515076;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0 1px 1px 0,
              0 0 0 1px;
}
.buy-button:hover{
  transform: scale(1.1);
}
.icon{
  width: 12px;
  height: 12px;
  color: #868FA0;
  align-items: center;
}

.red-text{
  color: red;
}
